<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <appender name="BIGBLUEBUTTON" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <File>log/akka.log</File>
    
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <FileNamePattern>log/akka.%d{yyyy-MM-dd}.log</FileNamePattern>
      <!-- keep 10 days worth of history -->
      <MaxHistory>10</MaxHistory>
    </rollingPolicy>

    <layout class="ch.qos.logback.classic.PatternLayout">
      <Pattern>%date{ISO8601} [%thread] %-5level %logger{35} -bar %msg%n</Pattern>
    </layout>
  </appender> 
  
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
  <encoder>
    <pattern>%date{ISO8601} %-5level %logger{36} -**bar** %msg%n</pattern>
  </encoder>
</appender>

	<root>
		<level value="DEBUG" />
		<appender-ref ref="STDOUT" />
	</root>		
</configuration>
